config/local.js
*.swl
*.swm
*.swn
*.swp
*.pyc
*.bak
*.swo
*.DS_Store
*~
~*
*Thumbs.db
*.tar.gz
*.svn
*/*.svn
*.sass-cache
*._*
build.txt
config.json
node_modules
npm-debug.log
tmp
build/config/local.js
bower_components
.tmp
dump.rdb
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
.locals
node_modules

._README.md
*._README.md
*.sql~
shelljs_*
.happypack
.vscode
*___jb_old___
webpack/config/local.js
.uglify-cache
build