.layout{
  position: relative;
  max-width: 1200px;
  margin: 80px auto;

}

.leftBlock{
  display: inline-block;
  width: 25%;
  vertical-align: top;

}


.rightBlock{
  display: inline-block;
  width: 73%;
  vertical-align: top;
  margin-left: 1.67%;
  
}